{% extends "products/base.html" %}
{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Status</th>
            <th>Controls</th>
        </tr>
        </thead>
        <tbody>
        {% for order in my_orders %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{ order.product_name }}</td>
            <td>{{ order.status }}</td>
            <td><a href="{% url 'cancel-order' order.id %}" class="btn btn-outline-danger">Cancel</a>
                <a href="{% url 'progress-order' order.id %}" class="btn btn-outline-success">+1</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}